@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins&display=swap');



body {
  margin: 0;
  padding:0;
  font-size: 10px;
  background: rgba(1,1,1,0.2);
  font-family: 'Poppins', sans-serif;
  color: rgba(1,1,1,0.8);
}

.container {
  margin: auto;
  margin-top: 70px;
  width: 60%;
  background: white;
  border: solid rgba(1,1,1,0.5) 1px;
  overflow: hidden;
}
.table-div {
  overflow: auto;
}

header{
  background: rgb(44, 51, 69);
  padding: 10px 52px 25px 52px;
  text-align: center;
}

.main {
  background: rgba(44, 51, 69, 0.1);
}

#title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size:3.5em;
  color: white;
  line-height: 1.3;
  margin-bottom: 0;
}
#description {
  font-style:italic;
  color:white;
  font-size: 1.7em;
  text-shadow: 2px 2px 2px rgba(100,100,100, 0.5);
}

.form-group, .checkbox-div {
  margin-bottom: 20px;
  padding: 0 45px;
}
.form-group p, .checkbox-div p{
  margin: 0px;
  padding: 0px;
}

.margin {
  padding-top: 20px;
}
.form-group label, .checkbox-div label, p {
  font-weight: 700;
  font-size: 1.8em;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 1.7em;
  line-height: inherit;
}
input:not([type=checkbox]), select {
  width: 100%;
  border: solid rgba(1,1,1,0.5) 1px;
  border-radius: 10px;
}

.form-group, .checkbox-div p {
  color: rgb(44, 51, 69);
}
textarea{
  width:100%;
}
#submit {
  width: 100%;
  background:#37af65 ;
  padding: 10px;
  cursor:pointer;
}
table, th,td {
  border: 1px solid #6B8896
}
tr:nth-child(even){
background-color: #f2f2f2;
}
tr:hover {
background-color: #cfe7f3;
}

.table-div label {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}
